# Disable directory listing

Options -Indexes

# Enable Rewrite Engine

<IfModule mod_rewrite.c>
RewriteEngine On

# Remove .html extension from URLs

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/.]+)$ $1.html [L]

# Internally map /page -> /page.html

RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# Hotlink protection

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?techstersol\.com [NC]
RewriteRule \.(jpg|jpeg|png|gif|webp|css|js)$ - [F,NC]

</IfModule>
